<ul>
  <li {% if page.url contains '/' %}class="active"{% endif %}><a href="/">Home</a></li>
  <li {% if page.url contains '/AI' %}class="active"{% endif %}><a href="/AI/">Artificial Intelligence</a></li>
  <li {% if page.url contains '/Robotics' %}class="active"{% endif %}><a href="/Robotics/">Robotics</a></li>
  <li {% if page.url contains '/Vision' %}class="active"{% endif %}><a href="/Vision/">Vision</a></li>
  <li {% if page.url contains '/Publications' %}class="active"{% endif %}><a href="/Publications/">Publications</a></li>
</ul>
